//! **************************************************************************
// Written by: Map K.31 on Sun Nov 23 21:12:46 2008
//! **************************************************************************

SCHEMATIC START;
COMP "blue_out" LOCATE = SITE "R11" LEVEL 1;
COMP "addr<0>" LOCATE = SITE "L5" LEVEL 1;
COMP "addr<1>" LOCATE = SITE "N3" LEVEL 1;
COMP "addr<2>" LOCATE = SITE "M4" LEVEL 1;
COMP "addr<3>" LOCATE = SITE "M3" LEVEL 1;
COMP "addr<4>" LOCATE = SITE "L4" LEVEL 1;
COMP "addr<5>" LOCATE = SITE "G4" LEVEL 1;
COMP "addr<6>" LOCATE = SITE "F3" LEVEL 1;
COMP "addr<7>" LOCATE = SITE "F4" LEVEL 1;
COMP "addr<8>" LOCATE = SITE "E3" LEVEL 1;
COMP "addr<9>" LOCATE = SITE "E4" LEVEL 1;
COMP "pixel_color<10>" LOCATE = SITE "F2" LEVEL 1;
COMP "pixel_color<11>" LOCATE = SITE "H1" LEVEL 1;
COMP "pixel_color<12>" LOCATE = SITE "J2" LEVEL 1;
COMP "pixel_color<13>" LOCATE = SITE "L2" LEVEL 1;
COMP "fifo_full" LOCATE = SITE "P12" LEVEL 1;
COMP "pixel_color<14>" LOCATE = SITE "P1" LEVEL 1;
COMP "pixel_color<15>" LOCATE = SITE "R1" LEVEL 1;
COMP "reset" LOCATE = SITE "M14" LEVEL 1;
COMP "addr<10>" LOCATE = SITE "G5" LEVEL 1;
COMP "addr<11>" LOCATE = SITE "H3" LEVEL 1;
COMP "addr<12>" LOCATE = SITE "H4" LEVEL 1;
COMP "addr<13>" LOCATE = SITE "J4" LEVEL 1;
COMP "addr<14>" LOCATE = SITE "J3" LEVEL 1;
COMP "addr<15>" LOCATE = SITE "K3" LEVEL 1;
COMP "green_out" LOCATE = SITE "T12" LEVEL 1;
COMP "write_memory" LOCATE = SITE "G3" LEVEL 1;
COMP "h_sync" LOCATE = SITE "R9" LEVEL 1;
COMP "chip_enable" LOCATE = SITE "P7" LEVEL 1;
COMP "red_out" LOCATE = SITE "R12" LEVEL 1;
COMP "pixel_color<0>" LOCATE = SITE "N7" LEVEL 1;
COMP "pixel_color<1>" LOCATE = SITE "T8" LEVEL 1;
COMP "pixel_color<2>" LOCATE = SITE "R6" LEVEL 1;
COMP "pixel_color<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "pixel_color<4>" LOCATE = SITE "R5" LEVEL 1;
COMP "pixel_color<5>" LOCATE = SITE "C2" LEVEL 1;
COMP "pixel_color<6>" LOCATE = SITE "C1" LEVEL 1;
COMP "pixel_color<7>" LOCATE = SITE "B1" LEVEL 1;
COMP "pixel_color<8>" LOCATE = SITE "D3" LEVEL 1;
COMP "pixel_color<9>" LOCATE = SITE "P8" LEVEL 1;
COMP "fifo_empty" LOCATE = SITE "P11" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "v_sync" LOCATE = SITE "T10" LEVEL 1;
COMP "read_memory" LOCATE = SITE "K4" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

